*.iml
.gradle
/local.properties
/.idea
/.vscode
.DS_Store
/build
/captures
/app/google-services.json

# InAppPurchase related files
/app/src/main/aidl
/app/src/main/java/chaitanya/im/searchforreddit/InAppPurchaseFeatures
