*.iml
.gradle
/local.properties
/.idea
/.vscode
.DS_Store
/build
/captures
/app/src/debug/google-services.json
/app/src/release/google-services.json
/projectFilesBackup

# InAppPurchase related files
/app/src/main/aidl
/app/src/main/java/chaitanya/im/searchforreddit/InAppPurchaseFeatures
